{% extends "base_admin.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/dashboard.css')}}">
{% endblock %}

{% block admin_username %}
    Welcome &nbsp; {{ admin }}
{% endblock %}

{% block logout_admin %}
    <a class="nav-link" href="{{ url_for('admin.logout') }}">Logout</a>
{% endblock %}

{% block homeurl %}
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
{% endblock %}

{% block body %}
    <div class="container">
        <div id="table">
            <table id="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Rating</th>
                    <th>Image</th>
                    <th>Is User Verified?</th>
                </tr>
                {% for data in user_data%}
                    <tr>
                        <td>{{data['_id']}}</td>
                        <!-- Makes the name of user in proper case! -->
                        <td>{{data['first_name'][0].upper()+data['first_name'][1:].lower()}} {{data['last_name'][0].upper()+data['last_name'][1:].lower()}}</td>
                        <td>{{data['username']}}</td>
                        <td>{{data['email']}}</td>
                        <td>{{data['rating']}}</td>
                        <td>{{data['image'].split('/')[3]}}</td> 
                        <td>{{data['isUserVerified']}}</td>
                    </tr>
                {% endfor %}
            </table>
        <div class="container">
            <div class="button-div">
                <a class="buttons" href="{{url_for('admin.add_user')}}"><button id="add" type="button" class="btn-success btn btn-block" value="Add user">Add User</button></a>
            </div>
        </div>
    </div>
{% endblock %}