{% extends "base_admin.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/dashboard.css')}}">
    <script src="{{ url_for('static', filename='JS/dashboard.js')}}"></script>
{% endblock %}

{% block admin_username %}
    Welcome &nbsp; {{ admin }}
{% endblock %}

{% block logout_admin %}
    <a class="nav-link" href="{{ url_for('admin.logout') }}">Logout</a>
{% endblock %}

{% block homeurl %}
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
{% endblock %}

{% block addUser %}
    <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter">
        Add User <span class="sr-only">(current)</span>
    </a>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="error">
            {% if error_code==1 %}
                Invalid Username or Email
            {% elif error_code==2 %}
                Username already exists!
            {% endif %}
        </div>
        <div class="table">
            <div class="table-head">
                <table>
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Rating</th>
                            <th>Image</th>
                            <th>IsUserVerified?</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table-body">
                <iframe src="{{url_for('admin.table')}}" frameborder="0"></iframe>
            </div>
        </div>
    </div>


      <!-- Add Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('admin.add') }}">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input name="first_name" type="text" class="form-control" id="firstName" placeholder="First Name" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input name="last_name"  type="text" class="form-control" id="lastName" placeholder="Last Name" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" type="text" class="form-control" id="username" placeholder="Type your Username" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="emailID">Email</label>
                        <input name="email" type="email" class="form-control" id="emailID" placeholder="Enter your Email ID" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" maxlength="50" required>
                    </div><br>
                    <button type="submit" class="btn btn-success btn-block">Add User</button>
                </form> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}