{% extends "base_admin.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/dashboard.css')}}">
{% endblock %}

{% block admin_username %}
    Welcome &nbsp; {{ admin }}
{% endblock %}

{% block logout_admin %}
    <a class="nav-link" href="{{ url_for('admin.logout') }}">Logout</a>
{% endblock %}

{% block homeurl %}
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
{% endblock %}

{% block body %}
    <div class="container">
        <div id="form">
            <center>
            <div class="error">
                {% if error_code==1 %}
                    Invalid EmailID or username!
                {% elif error_code==2 %}
                    Username already exists!
                {% endif %}
            </div>
            </center>
        </div>
        <div id="table">
            <table id="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Rating</th>
                    <th>Image</th>
                    <th>Is User Verified?</th>
                </tr>
                {% for data in user_data%}
                    <tr>
                        <td>{{data['_id']}}</td>
                        <!-- Makes the name of user in proper case! -->
                        <td>{{data['first_name'][0].upper()+data['first_name'][1:].lower()}} {{data['last_name'][0].upper()+data['last_name'][1:].lower()}}</td>
                        <td>{{data['username']}}</td>
                        <td>{{data['email']}}</td>
                        <td>{{data['rating']}}</td>
                        <td>{{data['image'].split('/')[3]}}</td> 
                        <td>{{data['isUserVerified']}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="container button-div">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                    Add User
            </button>
        </div>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('admin.add_user') }}">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input name="first_name" type="text" class="form-control" id="firstName" placeholder="First Name" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input name="last_name"  type="text" class="form-control" id="lastName" placeholder="Last Name" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" type="text" class="form-control" id="username" placeholder="Type your Username" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="emailID">Email</label>
                        <input name="email" type="email" class="form-control" id="emailID" placeholder="Enter your Email ID" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" maxlength="50" required>
                    </div><br>
                    <button type="submit" class="btn btn-success btn-block">Add User</button>
                </form> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
        </div>
    </div>
{% endblock %}