{% extends "base.html" %}

{% block title %}
    {{ game_title }}
{% endblock %}

{% block includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/chessboard.css')}}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/game.css') }}"></link>
    <script src="{{ url_for('static', filename='SRC/JS/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/game.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
    </div>
    <div class="chessboard">
        <span class="player">{{ player2 }}</span>
        <table class="no-spacing" cellspacing="0">
            <tbody>
                {{board|safe}}
            </tbody>
        </table>
        <span class="player">{{ player1 }}</span>
    </div>
</div>
{% endblock %}