{% extends "base.html" %}

{% block title %}
    {{ game_title }}
{% endblock %}

{% block includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/chessboard.css')}}"></link>
    <script src="{{ url_for('static', filename='JS/game.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        Hello {{ player1 }} and {{ player2 }}!!
    </div>
    <div class="chessboard">
        <table class="no-spacing" cellspacing="0">
            <tbody>
                {{board|safe}}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}