<!-- This template would be used for inheritance across different webpages of the site app! -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Favicons ! -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/favicons/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='Images/favicons/favicon.ico') }}" type="image/x-icon">
    <!-- Favicons end -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='SRC/CSS/bootstrap.min.css')}}"/>
    <!--Google Fonts-->
    <link rel="stylesheet" href="{{ url_for('static', filename='SRC/CSS/googlefont.css')}}"/>
    <!--Jquery-->
    <script src="{{ url_for('static', filename='SRC/JS/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='SRC/JS/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='SRC/JS/bootstrap.min.js')}}"></script>
    <!-- Web page exclusive imports go in includes -->
    {% block includes %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>