{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/chessboard.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/index.css')}}">
    <script src="{{ url_for('static', filename='JS/index.js')}}"></script>
    <script src="{{ url_for('static', filename='JS/chessboard.js')}}"></script>
{% endblock %}
{% block body %}
    <div class="user">
        <div class="container">
            <div class="jumbotron">
                <img src="{{ user.image }}"></img>
                <h3>Welcome {{user.username}}</h3>
            </div>
        </div>
        <div class="container">
            <a href="{{url_for('site.logout')}}"><button type="button" class="btn-warning btn btn-block">Logout</button></a>
        </div>
    </div>
    <div class="chessboard">
        <table>
            <tbody>
                {{board|safe}}
            </tbody>
        </table>
        <button type="button" class="btn-primary btn btn-block flipButton">Flip</button>
        <button class="btn btn-success btn-block button">Find Game</button>
    </div>

{% endblock %}