{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/chessboard.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/index.css')}}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.10/dist/sweetalert2.all.min.js"></script>
    <script src="{{ url_for('static', filename='JS/index.js')}}"></script>
    <script src="{{ url_for('static', filename='JS/chessboard.js')}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
    <script src="{{ url_for('static', filename='JS/SnowfallEffect/sketch.js')}}"></script>
    <script src="{{ url_for('static', filename='JS/SnowfallEffect/snowflake.js')}}"></script>
{% endblock %}
{% block body %}
    <div class="main">
        <div class="user">
            <div class="container">
                <div class="jumbotron">
                    <img src="{{ user.image }}"></img>
                    <h3>Welcome <span id="username">{{user.username}}</span></h3>
                </div>
            </div>
            <div class="container">
                <a href="{{url_for('site.logout')}}"><button type="button" class="btn-warning btn btn-block">Logout</button></a>
            </div>
            <div class="logo">
                <div class="container">
                    <img id="logo-image" src="{{ url_for('static', filename='Images/logo/PlayChess1.png') }}" alt="PlayChess">
                </div>
            </div>
        </div>
        <div class="chessboard">
            <table class="no-spacing" cellspacing="0">
                <tbody>
                    {{board|safe}}
                </tbody>
            </table>
            <button type="button" class="btn-primary btn btn-block flipButton">Flip</button>
            <button id="find-game" class="btn btn-success btn-block">Find Game</button>
        </div>
    </div>
    <div class="game-loader">
        <center>
            <div class="container">
                <img src="{{ url_for('static', filename='Images/loading_gifs/game-finder.gif') }}" alt="finding-game">
            </div>
            Finding Game!
        </center>
    </div>

{% endblock %}