<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's begin!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/login.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="static/JS/login.js"></script>
</head>
<body>
    <script>
        $(document).ready(function(){
            $("#register-form").hide();
            $("#login-form").show();
        })
    </script>
    {% if script is not none %}
        {{ script|safe }}
    {% endif %}
    <div class="container">
        <div class="form" id="register-form">
            <div class="error"> 
                <center>
                {% if error_code==1 %}
                    This username already exists!
                {% elif error_code==2 %}
                    Account associated with this email ID already exists!
                {% elif error_code==3 %}
                    This kind of email ID isnt supported!
                {% elif error_code==4 %}
                    Passwords donot match!
                {% endif %}
                </center>
            </div>
            <form method="POST" action="{{ url_for('site.register') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input name="first_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input name="last_name"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your Username" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email ID" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Retype Password</label>
                    <input name="confirm_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Retype your Password">
                </div>
                <button type="submit" class="btn btn-primary">Register</button> <br><br>
                <a href="#" id="signin">Already have an account? Signin!</a>
            </form>
        </div>
        <div class="form" id="login-form">
            <div class="error"> 
                <center>
                {% if error_code==-1 %}
                    Invalid username!
                {% elif error_code==-2 %}
                    You haven't verified your account yet!
                {% elif error_code==-3 %}
                    Invalid password!
                {% endif %}
                </center>
            </div>
            <form method="POST" action="{{ url_for('site.login') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your Username" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button> <br><br>
                <a href="#" id="signup">Dont have an account? Register!</a>
            </form>
        </div>
    </div>
</body>
</html>