<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's begin!</title>
    <!-- Favicons ! -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/favicons/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='Images/favicons/favicon.ico') }}" type="image/x-icon">
    <!-- Favicons end -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/loadingGIF.css')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/login.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='JS/login.js')}}"></script>
	<script src="{{url_for('static',filename='JS/progress_bar.js)}}"></script>
</head>
<body>
    <script>
        $(document).ready(function(){
            $("#register-form").hide();
            $("#login-form").show();
        })
    </script>
    {% if script is not none %}
        {{ script|safe }}
    {% endif %}
    <div class="container login-handler">
        <div class="form" id="register-form">
            <div class="error">
                <center>
                {% if error_code==1 %}
                <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Invalid Username! Note username must be b/w 3 characters to 30 characters and should only contain alphanumeric characters and underscores.
               </div>
                {% elif error_code==2 %}
                <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Invalid Email address. Please use a valid email address!
               </div>
                {% elif error_code==3 %}
                <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Username already taken!
               </div>
                {% elif error_code==4 %}
                <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                This email ID is already associated with another account!
               </div>
                {% elif error_code==5 %}
                <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Passwords donot match!
               </div>
                {% elif error_code==6 %}
                <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                There was some problem registering you!
                Please try again later!
               </div>
                {% endif %}
                </center>
            </div>
            <div class="header">
                Register!
            </div>
            <form method="POST" action="{{ url_for('site.register') }}">
                <div class="form-group">
                    <input name="first_name" type="text" class="form-control" id="firstName" placeholder="First Name" maxlength="30" required>
                </div>
                <div class="form-group">
                    <input name="last_name"  type="text" class="form-control" id="lastName" placeholder="Last Name" maxlength="30"  required>
                </div>
                <div class="form-group">
                    <input name="username" type="text" class="form-control" id="username" placeholder="Type your Username" maxlength="30" required>
                </div>
                <div class="form-group">
                    <input name="email" type="email" class="form-control" id="emailID" placeholder="Enter your Email ID" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input name="confirm_password" type="password" class="form-control" id="exampleInputPassword2" placeholder="Retype your Password" maxlength="50" required>
                </div>
                <center>
					<img src="../../static/Images/loading_gifs/loading7.gif" id="loading7" height="100" width="100">															  
              		<button type="submit" id="reg_submit" class="btn btn-primary">Register</button> <br><br>
                    <a href="#" id="signin">Already have an account? Signin!</a>
                </center>
                <br>
                <br>
            </form>
        </div>
        <div class="form" id="login-form">
            <div class="header">
                Login!
            </div>
            <div class="error">
                <center>
                {% if error_code==-1 %}
                <div class="alert alert-danger alert-dismissible fade show">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                  Invalid Username
                 </div>
                {% elif error_code==-3 %}
                <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Invalid Password
                </div>
                {% endif %}
                </center>
            </div>
            <form method="POST" action="{{ url_for('site.login') }}">
                <div class="form-group">
                    <input name="username" type="text" class="form-control" id="exampleInputEmail" placeholder="Username" aria-describedby="emailHelp" maxlength="30" required>
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" id="exampleInputPassword" placeholder="Password" maxlength="50">
                </div>
                <center>
                    <button type="submit" class="btn btn-primary">Sign In</button> <br><br>
                    <a href="#" id="signup">Dont have an account? Register!</a>
                </center>
            </form>
        </div>
    </div>
</body>
</html>
