<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/login.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="error">
                {% if error_code==1 %}
                    Invalid verification code!
                {% endif %}
            </div>
            <form method="POST" action="{{ url_for('site.verify', username=username) }}">
                <div class="form-group">
                    <label for="code">Verification Code</label>
                    <input name="activation_link" type="text" class="form-control" id="code" placeholder="Enter your code" required>
                </div>
                <button type="submit" class="btn btn-primary">Verify!</button>
            </form>
        </div>
    </div>
</body>
</html>