{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/chessboard.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/contest.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/clock.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='SRC/CSS/fa.min.css')}}">
    <script src="{{ url_for('static', filename='SRC/JS/sweetalert.min.js')}}"></script>
    <script src="{{ url_for('static', filename='JS/contest.js')}}"></script>
{% endblock %}
{% block body %}
    <div class="main">
        <div class="board">
            <div id="alerts">
            </div>
            <div class="raised chessboard">
                <table class="no-spacing" cellspacing="0">
                    <tbody>
                        {{board|safe}}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="clock" class="raised">
            <div id="minutes"></div>
            <div id="seconds"></div>
        </div> 
    </div>

{% endblock %}