{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/chessboard.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/contest.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.10/dist/sweetalert2.all.min.js"></script>
    <script src="{{ url_for('static', filename='JS/contest.js')}}"></script>
{% endblock %}
{% block body %}
    <div class="main-page-loader">
        <center>
            <div class="container">
                <img class="loading-image raised" src="{{ url_for('static', filename='Images/loading_gifs/main-page-loader.gif') }}" alt="loading-page">
            </div>
            <div class="heading">
                <h1><a href="#">LOADING DTUCHT19</a></h1>
            </div>
        </center>
    </div>
    <div class="main">
        <div class="board">
            <div id="alerts">
            </div>
            <div class="raised eval">
                <div class="progress">
                    <div id="white-eval" class="progress-bar" role="progressbar" style="width: 50%; background-color: white" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    <div id="black-eval" class="progress-bar" role="progressbar" style="width: 50%; background-color: black" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="raised chessboard">
                <table class="no-spacing" cellspacing="0">
                    <tbody>
                        {{board|safe}}
                    </tbody>
                </table>
            </div>
            <div class="interactive-buttons">
                <button  data-toggle="tooltip" title="Back" class="raised board-left btn btn-dark" data-placement="bottom"><i class="fas fa-arrow-left"></i></button>
                <button data-toggle="tooltip" title="Next" class="raised board-right btn btn-dark" data-placement="bottom"><i class="fas fa-arrow-right" ></i></button>
                <button class="raised board-flip btn btn-dark" data-toggle="tooltip" title="Flip" data-placement="bottom"><i class="fas fa-random"></i></button>
            </div>
        </div>
        <div id="storyboard">
            <div class="story raised">
                <div id="move-number"></div>
                <div id="white-moves"></div>
                <div id="black-moves"></div>
            </div>
        </div> 
    </div>

{% endblock %}