{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/leaderboard.css')}}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.10/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
    <script src="{{ url_for('static', filename='JS/leaderboard.js')}}"></script>
{% endblock %}
{% block body %}
    <script>
    (function () {

    $(document).ready(function(){
        // array describing the color for each team
        // using camel case where the team names include a space
        const colors = {
            'DTU': '#DC0000',
        };
    
        // array describing the drivers, sorted by position and with a gap describing the distance from the leading driver
        const leaderboard = {{ rankings | tojson }};
        
        // target the table element in which to add one div for each driver
        const main = d3
            .select('table');
        
        // for each driver add one table row
        // ! add a class to the row to differentiate the rows from the existing one
        // otherwise the select method would target the existing one and include one row less than the required amount
        const drivers = main
            .selectAll('tr.driver')
            .data(leaderboard)
            .enter()
            .append('tr')
            .attr('class', 'driver');
        
        // in each row add the information specified by the dataset in td elements
        // specify a class to style the elements differently with CSS
        
        // position using the index of the data points
        drivers
            .append('td')
            .text((d, i) => i + 1)
            .attr('class', 'position');
        
        
        // name followed by the team
        drivers
            .append('td')
            // include the last name in a separate element to style it differently
            // include the team also in another element for the same reason
            .html (({name, team}) => `${name.split(' ').map((part, index) => index > 0 ? `<strong>${part}</strong>` : `${part}`).join(' ')} <span>${team}</span>`)
            // include a border with the color matching the team
            .style('border-left', ({team}) => {
            // find the color using the string value found in d.team
            // ! if the string value has a space, camelCase the value
            const color = team.split(' ').map((word, index) => index > 0 ? `${word[0].toUpperCase()}${word.slice(1)}` : `${word}` ).join('');
            return `4px solid ${colors[color]}`;
            })
            .attr('class', 'driver');
        
        // gap from the first driver
        drivers
            .append('td')
            .attr('class', 'gap')
            .append('span')
            .text(({gap}) => gap);
            });

        })();
    </script>
    <div class="main">
        <table>
        <tr>
            <th>
            Pos
            </th>
            <th>
            Player
            </th>
            <th>
            Score
            </th>
        </tr>
        </table>
    </div>

{% endblock %}