{% extends "base.html" %}
{% block title %}
    Chat Room
{% endblock %}
{% block includes %}
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='CSS/index.css')}}"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='SRC/JS/socket.io.min.js')}}"></script>
    <script src="{{ url_for('static', filename='JS/chat.js') }}"></script>
{% endblock %}
{% block body %}
    <ul id="messages"></ul>
    <input type="text" id="myMessage">
    <button id="sendbutton">Send</button>
{% endblock %}