/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    padding: 0px;
    table-layout: fixed;
    width: 520px;
    height: 520px;
}

body {
    background-color: black;
}
.square {
    display: block;
    height: 65px !important;
    width: 65px !important;
}
.light {
    background-color: #fffedf;
}
.dark {
    background-color: #86a569;
}
.flipButton {
    margin-top: 4%;
}

.hover-cell {
    cursor: pointer;
    filter: brightness(85%);
}

.highlighted-cell {
    cursor: pointer!important;
    filter: brightness(50%)!important;
}

.active-cell {
    background-color: #9e8454;
}

/** CSS for chess pieces **/
/** White Pieces **/
.white-K {
    background-image: url("../Images/white_pieces/king.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.white-B {
    background-image: url("../Images/white_pieces/bishop.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.white-Q {
    background-image: url("../Images/white_pieces/queen.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.white-R {
    background-image: url("../Images/white_pieces/rook.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.white-N {
    background-image: url("../Images/white_pieces/knight.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.white-p {
    background-image: url("../Images/white_pieces/pawn.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
/** Black Pieces **/
.black-K {
    background-image: url("../Images/black_pieces/king.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.black-B {
    background-image: url("../Images/black_pieces/bishop.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.black-Q {
    background-image: url("../Images/black_pieces/queen.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.black-R {
    background-image: url("../Images/black_pieces/rook.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.black-N {
    background-image: url("../Images/black_pieces/knight.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.black-p {
    background-image: url("../Images/black_pieces/pawn.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}