body {
    background-color: pink;
}
.square {
    display: table;
    height: 75px;
    width: 75px;
}
.light {
    background-color: rgb(255, 254, 223);
}
.dark {
    background-color: rgb(134, 165, 105);
}
table, tbody {
    padding: 0px;
    border-spacing: 0px;
    border: 0px;
    table-layout: fixed;
}