/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0px;
    table-layout: fixed;
}

body {
    background-color: white;
}
.square {
    display: block;
    height: 75px !important;
    width: 75px !important;
}
.light {
    background-color: rgb(255, 254, 223);
}
.dark {
    background-color: rgb(134, 165, 105);
}
.flipButton {
    margin-top: 4%;
}

/** Provisional CSS, delete after use **/

#a1 {
    background-image: url("../Images/white_pieces/rook-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#b1 {
    background-image: url("../Images/white_pieces/knight-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#c1 {
    background-image: url("../Images/white_pieces/bishop-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#d1 {
    background-image: url("../Images/white_pieces/queen.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#e1 {
    background-image: url("../Images/white_pieces/king.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#f1 {
    background-image: url("../Images/white_pieces/bishop-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#g1 {
    background-image: url("../Images/white_pieces/knight-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#h1 {
    background-image: url("../Images/white_pieces/rook-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#a2{
    background-image: url("../Images/white_pieces/pawn-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#b2{
    background-image: url("../Images/white_pieces/pawn-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#c2{
    background-image: url("../Images/white_pieces/pawn-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#d2{
    background-image: url("../Images/white_pieces/pawn-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#e2{
    background-image: url("../Images/white_pieces/pawn-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#f2{
    background-image: url("../Images/white_pieces/pawn-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#g2{
    background-image: url("../Images/white_pieces/pawn-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#h2{
    background-image: url("../Images/white_pieces/pawn-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#a8 {
    background-image: url("../Images/black_pieces/rook-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#b8 {
    background-image: url("../Images/black_pieces/knight-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#c8 {
    background-image: url("../Images/black_pieces/bishop-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#d8 {
    background-image: url("../Images/black_pieces/queen.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#e8 {
    background-image: url("../Images/black_pieces/king.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#f8 {
    background-image: url("../Images/black_pieces/bishop-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#g8 {
    background-image: url("../Images/black_pieces/knight-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#h8 {
    background-image: url("../Images/black_pieces/rook-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#a7{
    background-image: url("../Images/black_pieces/pawn-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#b7{
    background-image: url("../Images/black_pieces/pawn-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#c7{
    background-image: url("../Images/black_pieces/pawn-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#d7{
    background-image: url("../Images/black_pieces/pawn-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#e7{
    background-image: url("../Images/black_pieces/pawn-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#f7{
    background-image: url("../Images/black_pieces/pawn-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#g7{
    background-image: url("../Images/black_pieces/pawn-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#h7{
    background-image: url("../Images/black_pieces/pawn-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}