.main {
    display: flex;
    flex-direction: row;
    margin: auto;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.sidebar {
    width: 280px;
}

.board{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.eval {
    width: 100%;
    align-self: center;
    align-items: center;
}

#white-eval {
    color: black;
}

.chessboard {
    margin-top: 1vh;
    align-self: center;
    width: 100%;
    align-items: center;
}

.interactive-buttons {
    margin-top: 3%;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

.game-finder {
    margin-top: 5vh;
    align-self: center;
    width: 100%;
}

#find-game {
    margin-top: 1.5%;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(29, 29, 29);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
} 

.loading-image {
    width: 100%;
    height: 300px;
}

.container {
    margin-top: 10%;
}

.topbar {
    display: none;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
}

#storyboard {
    display: none;
    flex-direction: column;
    width: 28%!important;
    margin-right: inherit;
    margin-top: 4%;
}

:root {
    --border-shadow: rgb(0, 0, 0);
}

.raised { 
    border: 1px solid ;
	box-shadow:  -1px 1px var(--border-shadow), -2px 2px var(--border-shadow), -3px 3px var(--border-shadow), -4px 4px var(--border-shadow), -5px 5px var(--border-shadow);
}

.story {
    display: flex;
    flex-direction: row;
    background: rgb(19, 16, 16);
    box-shadow: 1px;
    width: 100%;
    height: 82%;
    overflow: scroll;
}

#move-number {
    color: white;
    width: 16%;
    filter: brightness(50%); 
}

#white-moves {
    width: 42%;
    background-color: beige;
}

#black-moves {
    width: 42%;
    background-color: beige;
}

.move-cell {
    padding: 4% 8% 4% 8%;
    background-color: beige;
    cursor: grab;
}

.move-number-cell {
    padding: 11% 10% 10% 26%;
}

.highlight-move-cell {
    filter: brightness(71%);
}

.story-save {
    width: 100%;
}

#save-story {
    margin-top: 6%;
}

@media only screen and (max-width: 787px) {
    .sidebar {
        width: 80px !important;
    }
}

@media only screen and (max-width: 531px) {
    #sidebar {
        display: none;
    }
    .sidebar {
        width: 0px !important;
        height: 0px !important;
    }
    .topbar {
        display: block;
    }
    .main {
        flex-direction: column;
    }
    .board {
        margin-top: 8vh;
    }
    .story {
        width: 100%;
        height: 100px;
    }
    #storyboard {
        width: 90%!important;
        margin-right: auto;
        margin-left: auto;
        margin-top: -4%;
    }
    #save-story {
        margin-top: 2%;
    }
}