a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.make-move-button-div {
    width: 40%;
    height: 29.6px;
    float: right;
}
.make-move-input-div {
    float: left;
}

.chessboard {
    float: right;
    margin-right: 10%;
    margin-top: 4%;
}

.logo {
    margin-top: 20%;
}

.user {
    float: left;
    margin-left: 5%;
    margin-top: 14%;
    margin-right: 5%;
    min-width: 20%;
    width: 30%;
}
#find-game {
    margin-top: 1%;
}

#logo-image {
    height: 100px;
    width: 100px;
}

body {
    padding: 0;
    margin: 0;
    background: -webkit-canvas(squares);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
} 

@media only screen and (max-width: 815px) {
    .user {
        display: none;
    }  
    .chessboard {
        margin: auto;
        width: 50%;
        float: none;
        min-width: 400px;
    }
}