a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
iframe {
    width: 607px;
    height: 672px;
}
.chessboard {
    position: absolute;
    right: 12%;
    top: 6%;
    float: right;
}
.user {
    float: left;
    margin-left: 5%;
    margin-top: 10%;
    width: 30%;
}
.button {
    margin-top: 0%;
}

