.header
{
  font-size: 50px !important;
  text-align: center;
  margin-bottom: 10px;
  color: aliceblue;
}
.btn{
  margin-left: auto !important;
  margin-right: auto !important;
}
body, html {
    height: 100%;
    background-color: black;
}
.login-handler {
    margin-top: 5%!important;
    margin-left: 55%!important;
}
.container {
    margin-top: 100px ;
    max-width: 40%;
    width: 100%;
    padding: 10px;
    max-width: 400px;
    border-radius: 2px;
    box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) ;
    background-color: rgba(0,0,0,0.2);
}
body  {
    background-image: url("../Images/backgrounds/bg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.form-control {
    width: 100% !important;
    border: none !important;
    outline: none!important;
    display: block !important;
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    background-color: transparent !important;
    font-size: 22px !important;
    position: relative !important;
    border-radius: 4px !important;
    margin-bottom: 10px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}
.form-group {
	font-size: 22px !important;
	position: relative !important;
	border-radius: 2px !important;
	margin-bottom: 10px !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
	background-color: rgba(0,0,0,0.1);
}
.verify {
    min-width: 40%!important;
    width: 40%!important;
}
input[type=text], input[type=email] {
    color: white !important;
}
input[type=password] {
    color: white !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff !important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff !important;
}
